.Sidedrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 32px 16px;
    box-sizing: border-box;
    background-color: white;
    z-index: 300;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px){
    .Sidedrawer {
        display: none;
    }
}

.Logo {
    margin-bottom: 20px;
}

.Open {
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}