.NavigationItems {
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    }

@media (min-width: 500px){
    .NavigationItems {
     flex-flow: row;
        }
    
}